@import "./mixins";
@import url("https://fonts.googleapis.com/css2?family=Cormorant+Upright:wght@700&family=Poppins:wght@200;300;400;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap");

:root {
  --color-primary: #fff;
  --color-dark: #000;
  --color-yellow: #dcca87;
}

* {
  transition: background-color 0.3s linear;
}

body.light {
  --color-primary: #000;
  --color-dark: #fff;
  --color-yellow: #dcca87;
}

.container {
  max-width: 1350px;
  margin: 0 auto;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  font-family: "Cormorant Upright";
}

::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  background: var(--color-dark);
}

::-webkit-scrollbar-thumb {
  background: var(--color-yellow);
  border-radius: 5px;
  cursor: pointer;
}

.header {
  width: 100%;
  height: 70px;
  background-color: var(--color-dark);
  color: var(--color-primary);
  position: fixed;
  z-index: 3;
  .hamburger {
    font-size: 25px;
    display: none;
    @include mobile {
      display: block;
      position: relative;
      top: -8px;
      cursor: pointer;
    }
  }
  .cancel {
    position: relative;
    z-index: 999;
    top: -86px;
    font-size: 22px;
    display: none;
  }

  &-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    width: 100%;
  }
  &__logo {
    font-size: 34px;
    font-family: "Cormorant";
    text-transform: uppercase;
    position: relative;
  }
  &__menu {
    display: flex;
    gap: 25px;
    align-items: center;
    @include mobile {
      flex-direction: column;
      width: 100%;
      background-color: var(--color-yellow);
      border-radius: 5px;
      height: 100vh;
      position: absolute;
      top: -15px;
      transition: 0.5s;
      gap: 25px;
      padding-top: 5px;
      right: -100%;
      top: 0;
      padding-left: 10px;
      align-items: center;
      justify-content: center;

      &.active {
        right: 0;
      }
    }
    a {
      color: var(--color-primary);
      font-size: 16px;
      text-decoration: none !important;
      @include mobile {
        font-size: 36px;
      }
      &:hover {
        text-decoration: underline;
      }
    }
    .login {
      @include mobile {
        font-size: 30px;
      }
    }
    .mode-btn {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 40px;
      border-radius: 10px;
      height: 40px;
      border: none;
      outline: none;
      font-size: 20px;
    }
  }
}

.footer {
  position: relative;
  bottom: 0;
  padding-top: 70px;
  background-color: var(--color-dark);
  height: 300px;
  @include mobile {
    height: 590px;
  }
  &__item {
    display: flex;
    gap: 56px;
    justify-content: center;
    align-items: center;
    gap: 30px;
    color: var(--color-primary);
    @include mobile {
      flex-direction: column;
    }
    @include tablet {
      gap: 35px;
    }
    &--contact {
      display: flex;
      flex-direction: column;
      gap: 15px;
      &--title {
        justify-content: center;
        display: flex;
      }
      &--country {
        font-family: "Open Sans";
        font-size: 12px;
      }
      &--mobile {
        font-family: "Open Sans";
        font-size: 12px;
      }
    }

    &--logo {
      display: flex;
      justify-content: center;
      flex-direction: column;
      align-items: center;
      gap: 30px;
      &--name {
        text-transform: uppercase;
        font-size: 40px;
        color: var(--color-yellow);
      }

      &--desc {
        font-family: "Open Sans";
        font-size: 12px;
        width: 300px;
        text-align: center;
      }
      &--social {
        display: flex;
        gap: 10px;
        cursor: pointer;
      }
    }

    &--working {
      gap: 15px;
      display: flex;
      justify-content: center;
      flex-direction: column;
      align-items: center;
      &--title {
        justify-content: center;
        display: flex;
      }
      &--hours {
        display: flex;
        width: 220px;
        font-family: "Open Sans";
        font-size: 12px;
      }
    }
  }
}

$color-pancake: #c4b26f;
$color-pancake: #d8cb9f;
$color-pancake-dark: darken($color-pancake, 50%);
$color-butter: #eadd4d;
$color-bg: #249d98;
$color-plate: #d3ebea;

$animation-duration: 3500ms;



//! loading animation

.loader--content {
  position: fixed;
  background-color: var(--color-dark);
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9;
  transition: 0.3s;
  &.fade {
    opacity: 0;
  }

}


.loader {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}


.tall-stack {
  animation: slide-plate-out $animation-duration;
  animation-fill-mode: forwards;
  animation-timing-function: ease;
}


.plate {
  width: 230px;
  height: 14px;
  background: $color-plate;
  position: relative;
  border-radius: 6px 6px 2rem 2rem;
  animation: slide-plate-in $animation-duration;
  transform: translateX(100vw);
  animation-fill-mode: forwards;
  animation-timing-function: ease;

  .plate-bottom {
    content: "";
    display: block;
    height: 50%;
    width: 140px;
    background: darken($color-plate, 4%);
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -70px;
    border-radius: 0 0 1rem 1rem;
    z-index: 1;
  }

  .shadow {
    position: absolute;
    top: 130%;
    left: 50%;
    margin-left: -90px;
    z-index: 0;
    width: 180px;
    height: 10px;
    background: rgba(0, 0, 0, 0.2);
    border-radius: 80%;
    z-index: 0;
  }
}


.butter {
  width: 48px;
  height: 12px;
  background: $color-butter;
  margin: auto;
  border-radius: 2px;
  box-shadow: inset 0 -2px 0 2px rgba($color-pancake-dark, 0.1);
}


.pancake {
  width: 200px;
  height: 14px;
  background: $color-pancake;
  border-radius: 1rem;
  box-shadow: inset 0 -2px 0 3px rgba($color-pancake-dark, 0.1);
  margin: auto;
}


.falling-element {
  transform: translateY(-100vh);
  animation-timing-function: ease-in;
  animation-fill-mode: forward;
  animation: element-drop $animation-duration infinite;
  position: relative;
}


$elements: 8;
$drop-delay: 0.4s;
$drop-interval: 0.22;
@for $i from 0 to $elements {
  .falling-element:nth-child(#{$elements - $i}) {
    animation-delay: ($drop-interval * $i) + $drop-delay;
  }
}

@keyframes element-drop {
  0%,
  100% {
    transform: translateY(-100vh) scaleY(0.7);
    opacity: 1;
  }
  11% {
    transform: translateY(20%) scaleY(1.2);
  }
  13% {
    transform: translateY(-30%) scaleY(0.9);
  }
  14%,
  67% {
    transform: translateY(0%) scaleY(1);
    opacity: 1;
  }
  68% {
    opacity: 0;
    transition: none;
    transform: translateY(-100vh) scaleY(0.7);
  }
}

@keyframes slide-plate-in {
  0% {
    transform: translateX(100vw);
  }
  15%,
  100% {
    transform: translateX(0);
  }
}

@keyframes slide-plate-out {
  65% {
    transform: translateX(0);
  }
  85%,
  100% {
    transform: translateX(-100vw);
  }
}
