@import url("https://fonts.googleapis.com/css2?family=Cormorant+Upright:wght@700&family=Poppins:wght@200;300;400;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap");
@import 'mixins';
@import 'variables';
@import 'global';



.flavour {
  padding: 70px;
  width: 100%;
  background-color: #000;
  &-wrapper {
    display: flex;
    justify-content: center;
  }
  &__text {
    display: flex;
    flex-direction: column;
    padding: 40px;
    gap: 70px;
    line-height: 30px;
    &--title {
      font-size: 20px;
      color: #fff;
    }
    &--header {
      width: 300px;
      font-size: 55px;
      color: #dcca87;
      line-height: 70px;
    }
    &--desc {
      color: #fff;
      font-family: "open sans";
      width: 450px;
      font-size: 14px;
    }
    &--btn {
      width: 100px;
      height: 30px;
      border: none;
      outline: none;
      background-color: #dcca87;
      cursor: pointer;
    }
  }

  &__image {
    img {
      width: 550px;
      height: 650px;
      padding: 40px;
    }
  }
}

.knife {
  width: 100%;
  background-color: #000;
  &-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 70px;
  }
  &__about {
    width: 500px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 30px;
    animation: about 4s ;
    animation-direction: normal;
    @keyframes about {
      0%{
        transform: translateX(-30%);
    }
    100%{
      transform: translateX(0);
    }
    }
    &--title {
      color: #dcca87;
      font-size: 40px;
    }
    &--desc {
      color: #fff;
      font-family: "Open Sans";
      font-size: 14px;
      line-height: 33px;
      width: 400px;
      text-align: end;
      position: relative;
      z-index: 2;
    }
    &--btn {
      width: 100px;
      height: 30px;
      border: none;
      outline: none;
      background-color: #dcca87;
      cursor: pointer;
    }
  }

  &__image {
    height: 605px;
    img {
      height: 605px;
      z-index: 2;
      position: relative;
    }
  }

  &__background {
    font-size: 400px;
    color: #272727;
    opacity: 0.8;
    position: absolute;
  }
  &__history {
    width: 500px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    align-items: flex-start;
    animation: text 4s;
    animation-direction: normal;
    @keyframes text {
      0%{
        transform: translateX(30%);
    }
    100%{
      transform: translateX(0);
    }
  }
    &--title {
      color: #dcca87;
      font-size: 40px;
    }
    &--desc {
      color: #fff;
      font-family: "Open Sans";
      font-size: 14px;
      line-height: 33px;
      width: 400px;
      position: relative;
      z-index: 2;
    }
    &--btn {
      width: 100px;
      height: 30px;
      border: none;
      outline: none;
      background-color: #dcca87;
      position: relative;
      z-index: 2;
      cursor: pointer;
    }
  }
}

.booking {
  background-color: #000;
  width: 100%;
  padding: 40px;
  display: flex;
  align-items: center;
  &-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 70px;
    width: 900px;
    background-color: #262523;
    padding: 20px;
  }
  &__title {
    font-size: 64px;
    color: #dcca87;
  }
  &__options {
    display: flex;
    gap: 20px;
    #persons {
      width: 240px;
      height: 40px;
      background-color: #0000009c;
      outline: none;
      border: none;
      color: #fff;
    }
  }

  &__btn {
    width: 100px;
    height: 30px;
    border: none;
    outline: none;
    background-color: #dcca87;
    cursor: pointer;
  }
}

.menu {
  background: url("../assets/home/coniac.png");
  background-color: #000;
  opacity: 0.3;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 500px;
  background-color: black;
  opacity: 0.96;
  &__list {
    color: #fff;
    position: relative;
    top: 100px;
    font-size: 40px;
    gap: 30px;
    display: flex;
    flex-direction: column;
    &--item {
      cursor: pointer;
      &:hover {
        text-decoration: underline;
        color: #fff;
      }
    }
  }
}

.special {
  background-color: #000;
  height: 660px;
  &-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  &__title {
    display: flex;
    justify-content: center;
    padding: 30px;
    color: #fff;
  }
  &__header {
    display: flex;
    justify-content: center;
    padding: 10px;
    font-size: 40px;
    color: #dcca87;
  }
  &__main {
    display: flex;
    justify-content: center;
    gap: 100px;
    padding: 40px;
  }
  &__left {
    color: #fff;
    display: flex;
    flex-direction: column;
    gap: 45px;
    &--title {
      font-size: 30px;
    }
    &--menu {
      font-size: 20px;
      color: #dcca87;
    }
  }
  &__img {
    height: 390px;
  }
  &__right {
    color: #fff;
    display: flex;
    flex-direction: column;
    gap: 45px;
    &--title {
      font-size: 30px;
    }
    &--menu {
      font-size: 20px;
      color: #dcca87;
    }
  }
  &__btn {
    width: 100px;
    height: 30px;
    border: none;
    outline: none;
    background-color: #dcca87;
    cursor: pointer;
  }
}

.chef {
  background-color: #000;
  padding: 40px;
  &-wrapper {
    display: flex;
    padding: 40px;
    gap: 40px;
    justify-content: center;
    align-items: center;
  }
  &__img {
    height: 500px;
    filter: grayscale(1);
    transition: 0.4s;
    overflow: hidden;

    img {
      height: 100%;
      width: 100%;
      transition: 0.5s;
      &:hover {
        transform: scale(1.2);
      }
    }

    &:hover {
      filter: grayscale(0);
    }
  }

  &__text {
    padding: 40px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    &--title {
      color: #fff;
    }
    &--header {
      color: #dcca87;
      font-size: 40px;
    }
    &--name {
      font-size: 25px;
      color: #dcca87;
    }
    &--desc {
      width: 500px;
      color: #fff;
    }
    &--position {
      font-family: "Open sans";
      color: #fff;
      font-size: 12px;
    }
    &--image {
      width: 200px;
    }
  }
}

.customer {
  background-color: #000;
  &-wrapper {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  &__title {
    display: flex;
    justify-content: center;
    padding: 5px;
    color: #fff;
  }
  &__header {
    display: flex;
    justify-content: center;
    padding: 20px;
    font-size: 50px;
    color: #dcca87;
  }

  &__table {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    align-items: center;
    gap: 60px;
    padding: 30px;
    &--about {
      display: flex;
      gap: 20px;
      &--text {
        display: flex;
        flex-direction: column;
        gap: 15px;
      }
      &--desc {
        color: #fff;
        font-family: "Open Sans";
        font-style: italic;
        line-height: 28px;
        font-size: 12px;
      }

      &--name {
        color: #dcca87;
        font-size: 32px;
      }
      &--position {
        font-family: "Open Sans";
        color: #fff;
      }
    }
  }
}

.restaurant {
  background-image: url("../assets/home/restaurant.png");
  height: 600px;
  background-repeat: no-repeat;
  object-fit: cover;
  background-size: cover;
  opacity: 0.9;
}

.awards {
  background-color: #000;
  height: 490px;
  &-wrapper {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  &__text {
    display: flex;
    flex-direction: column;
    gap: 30px;
    &--title {
      color: #fff;
      padding-top: 40px;
    }
    &--header {
      color: #dcca87;
      font-size: 35px;
    }
    &__stars {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 20px;
      &--item {
        display: flex;
        flex-direction: column;
        gap: 10px;
        &--title {
          color: #dcca87;
        }
        &--desc {
          color: #fff;
          font-family: "Open Sans";
          width: 200px;
          font-size: 12px;
        }
      }
    }
  }
  .awards__design {
    position: absolute;
    opacity: 0.7;
    color: #fff;
    font-size: 286px;
    position: absolute;
    left: -80px;
    bottom: -20px;
    line-height: 220px;
  }
  .div {
    width: 350px;
    height: 450px;
    padding-top: 66px;
    position: relative;
    img {
      width: 100%;
      height: 100%;
    }
  }
}

.update {
  background-color: #000;
  padding-top: 30px;
  &-wrapper {
    display: flex;
    gap: 30px;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    padding-bottom: 30px;
  }

  &__title {
    color: #fff;
  }
  &__header {
    color: #dcca87;
    font-size: 35px;
  }
  &__table {
    display: flex;
    gap: 40px;
    &--item {
      width: 300px;
      display: flex;
      flex-direction: column;
      gap: 20px;
      &--img {
        width: 300px;
      }
      &--title {
        color: #dcca87;
        font-size: 25px;
      }
      &--desc {
        font-family: "open sans";
        color: #fff;
        font-size: 14px;
      }
      &--more {
        color: #dcca87;
      }
    }
    &--btn {
      width: 100px;
      height: 30px;
      border: none;
      outline: none;
      background-color: #dcca87;
      cursor: pointer;
    }
  }
}

.gallery {
  height: 300px;
  background-color: #000;

  .section-wrapper {
    display: flex;
    justify-content: center;
    gap: 200px;
    align-items: center;
    width: 100%;
    height: 100%;
  }
  &__text {
    width: 30%;
    padding-top: 40px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    align-items: flex-start;
    
    &--header {
      color: #dcca87;
      font-size: 40px;
    }
    &--desc {
      font-family: "Open sans";
      font-size: 12px;
      color: #fff;
    }
    &--btn {
      width: 100px;
      height: 30px;
      border: none;
      outline: none;
      background-color: #dcca87;
      cursor: pointer;
    }
  }
  &__img {
    display: flex;
    height: 300px;
    width: 600px;
    overflow: hidden;
    position: relative;

    &--sliders {
      transition: 1s;
      height: 100% !important;
      width: 100%;
      position: relative;
      display: flex;
      justify-content: start;
      align-items: center;
      position: relative;
      &--slider {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 600px !important;
        display: flex;
        justify-content: start;
        align-items: center;
        gap: 15px;
        opacity: 0;
        visibility: hidden;
        transition: 0.4s;
        img {
          display: inline-block;
          width: 190px !important;
          height: 100%;
          object-fit: cover;
          // transform: translateX(-200px );
        }
      }
      .show{
        opacity: 1;
        visibility: visible;
      }
      button {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        z-index: 9999;
        height: 30px;
        width: 30px;
        cursor: pointer;
        border: none;
        outline: none;
        font-size: 20px;
        line-height: 30px;
        transition: 0.1s;
        border-radius: 50%;
        display: grid;
        place-items: center;
        &:hover {
          transform: translateY(-50%) scale(1.1);
        }
        &:nth-child(even) {
          left: 5px;
        }
        &:nth-child(odd) {
          right: 5px;
        }
        // }

        // img{
        //   width: 200px;
        //   height: 300px;
        // }
      }
      // button {
      //   position: absolute;
      //   top: 50%;
      //   transform: translateY(-50%);
      //   z-index: 9999;
      //   height: 30px;
      //   width: 30px;
      //   cursor: pointer;
      //   border: none;
      //   outline: none;
      //   font-size: 20px;
      //   line-height: 30px;
      //   transition: .1s;
      //   border-radius: 50%;
      //   display: grid;
      //   place-items: center;
      //   &:hover{
      //     transform: translateY(-50%) scale(1.1);
      //   }
      //   &:nth-child(even) {
      //     right: 5px;
      //   }
      //   &:nth-child(odd) {
      //     left: 5px;
      //   }
      // }
    }
  }
}
.subscribe {
  background-color: #000;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 30px;
  padding: 75px 0;

  &-wrapper {
    background-color: #0c0c0c;
    height: 270px;
    width: 800px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }
  &__title {
    color: #fff;
    padding-top: 20px;
  }
  &__header {
    color: #dcca87;
    font-size: 35px;
  }

  &__subtitle {
    font-family: "Open Sans";
    font-size: 12px;
    color: #fff;
  }
  &__email {
    display: flex;
    gap: 20px;
    align-items: center;
    padding-top: 20px;
    &--input {
      width: 400px;
      height: 40px;
      background-color: #000;
      border: 1px solid #f5efdb;
      color: white;
      padding-left: 5px;
      &::placeholder {
        color: #fff;
      }
    }
    &--btn {
      width: 100px;
      height: 30px;
      border: none;
      outline: none;
      background-color: #dcca87;
      cursor: pointer;
    }
  }
}

