@import url("https://fonts.googleapis.com/css2?family=Cormorant+Upright:wght@700&family=Poppins:wght@200;300;400;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap");
:root {
  --color-primary: #fff;
  --color-dark: #000;
  --color-yellow: #dcca87;
}

* {
  transition: background-color 0.3s linear;
}

body.light {
  --color-primary: #000;
  --color-dark: #fff;
  --color-yellow: #dcca87;
}

.container {
  max-width: 1350px;
  margin: 0 auto;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  font-family: "Cormorant Upright";
}

::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  background: var(--color-dark);
}

::-webkit-scrollbar-thumb {
  background: var(--color-yellow);
  border-radius: 5px;
  cursor: pointer;
}

.header {
  width: 100%;
  height: 70px;
  background-color: var(--color-dark);
  color: var(--color-primary);
  position: fixed;
  z-index: 3;
}
.header .hamburger {
  font-size: 25px;
  display: none;
}
@media only screen and (max-width: 767px) {
  .header .hamburger {
    display: block;
    position: relative;
    top: -8px;
    cursor: pointer;
  }
}
.header .cancel {
  position: relative;
  z-index: 999;
  top: -86px;
  font-size: 22px;
  display: none;
}
.header-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
  width: 100%;
}
.header__logo {
  font-size: 34px;
  font-family: "Cormorant";
  text-transform: uppercase;
  position: relative;
}
.header__menu {
  display: flex;
  gap: 25px;
  align-items: center;
}
@media only screen and (max-width: 767px) {
  .header__menu {
    flex-direction: column;
    width: 100%;
    background-color: var(--color-yellow);
    border-radius: 5px;
    height: 100vh;
    position: absolute;
    top: -15px;
    transition: 0.5s;
    gap: 25px;
    padding-top: 5px;
    right: -100%;
    top: 0;
    padding-left: 10px;
    align-items: center;
    justify-content: center;
  }
  .header__menu.active {
    right: 0;
  }
}
.header__menu a {
  color: var(--color-primary);
  font-size: 16px;
  text-decoration: none !important;
}
@media only screen and (max-width: 767px) {
  .header__menu a {
    font-size: 36px;
  }
}
.header__menu a:hover {
  text-decoration: underline;
}
@media only screen and (max-width: 767px) {
  .header__menu .login {
    font-size: 30px;
  }
}
.header__menu .mode-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  border-radius: 10px;
  height: 40px;
  border: none;
  outline: none;
  font-size: 20px;
}

.footer {
  position: relative;
  bottom: 0;
  padding-top: 70px;
  background-color: var(--color-dark);
  height: 300px;
}
@media only screen and (max-width: 767px) {
  .footer {
    height: 590px;
  }
}
.footer__item {
  display: flex;
  gap: 56px;
  justify-content: center;
  align-items: center;
  gap: 30px;
  color: var(--color-primary);
}
@media only screen and (max-width: 767px) {
  .footer__item {
    flex-direction: column;
  }
}
@media only screen and (max-width: 991px) {
  .footer__item {
    gap: 35px;
  }
}
.footer__item--contact {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.footer__item--contact--title {
  justify-content: center;
  display: flex;
}
.footer__item--contact--country {
  font-family: "Open Sans";
  font-size: 12px;
}
.footer__item--contact--mobile {
  font-family: "Open Sans";
  font-size: 12px;
}
.footer__item--logo {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}
.footer__item--logo--name {
  text-transform: uppercase;
  font-size: 40px;
  color: var(--color-yellow);
}
.footer__item--logo--desc {
  font-family: "Open Sans";
  font-size: 12px;
  width: 300px;
  text-align: center;
}
.footer__item--logo--social {
  display: flex;
  gap: 10px;
  cursor: pointer;
}
.footer__item--working {
  gap: 15px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.footer__item--working--title {
  justify-content: center;
  display: flex;
}
.footer__item--working--hours {
  display: flex;
  width: 220px;
  font-family: "Open Sans";
  font-size: 12px;
}

.offer {
  position: relative;
  left: 0;
  width: 100%;
  height: 500px;
  background-image: url("../../../assets/services/background.jpg");
  background-size: cover;
  background-color: #0c0c0c;
  background-repeat: no-repeat;
  background-position: center;
  opacity: 0.9;
}
@media only screen and (max-width: 767px) {
  .offer {
    width: 100%;
    height: 300px;
  }
}
.offer-wrapper {
  position: absolute;
  top: 40%;
  flex-direction: column;
  display: flex;
  align-items: center;
  color: var(--color-yellow);
}
.offer span a {
  color: #fff;
  text-decoration: none;
}
.offer h1 {
  font-size: 70px;
}
@media only screen and (max-width: 767px) {
  .offer h1 {
    font-size: 40px;
  }
}

.contact {
  background-color: var(--color-dark);
  height: 450px;
}
@media only screen and (max-width: 767px) {
  .contact {
    height: 220px;
  }
}
.contact-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}
.contact__image img {
  width: 900px;
  padding: 50px 30px;
}
@media only screen and (max-width: 767px) {
  .contact__image img {
    width: 350px !important;
  }
}
@media only screen and (max-width: 991px) {
  .contact__image img {
    width: 750px;
  }
}

.form {
  height: 500px;
  background-color: var(--color-dark);
}
@media only screen and (max-width: 767px) {
  .form {
    height: 750px;
  }
}
.form-wrapper {
  justify-content: space-between;
  display: flex;
}
.form__text {
  display: flex;
  flex-direction: column;
  width: 500px;
  gap: 30px;
  color: var(--color-primary);
}
@media only screen and (max-width: 991px) {
  .form__text {
    width: 350px;
  }
}
.form__text--name {
  height: 50px;
}
@media only screen and (max-width: 767px) {
  .form__text--name {
    height: 30px;
  }
}
.form__text--email {
  height: 50px;
}
@media only screen and (max-width: 767px) {
  .form__text--email {
    height: 30px;
  }
}
.form__text--msg {
  height: 100px;
}
@media only screen and (max-width: 767px) {
  .form__text--msg {
    height: 70px;
  }
}
.form__text--btn {
  width: 100px;
  height: 30px;
  border: none;
  outline: none;
  background-color: var(--color-yellow);
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}
.form-wrapper {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
@media only screen and (max-width: 767px) {
  .form-wrapper {
    flex-direction: column;
  }
}
.form__img {
  width: 350px;
  height: 450px;
  padding-top: 66px;
  position: relative;
}
.form__img img {
  width: 100%;
  height: 100%;
}
@media only screen and (max-width: 991px) {
  .form__img img {
    width: 300px;
  }
}
@media only screen and (max-width: 767px) {
  .form__img img {
    display: flex;
    margin: auto;
    width: 280px;
  }
}
.form__img--design {
  position: absolute;
  font-size: 200px;
  color: var(--color-primary);
  opacity: 0.8;
  left: -39px;
  top: 230px;
}
@media only screen and (max-width: 767px) {
  .form__img--design {
    font-size: 150px;
    left: -10px;
  }
}

.subscribe {
  background-color: var(--color-dark);
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 30px;
  padding: 75px 0;
}
.subscribe .container {
  display: flex;
  justify-content: center;
}
.subscribe-wrapper {
  background-color: #262523;
  height: 270px;
  width: 800px;
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  box-shadow: 0rem 1rem 3rem 0rem #000;
}
@media only screen and (max-width: 991px) {
  .subscribe-wrapper {
    width: 600px;
  }
}
@media only screen and (max-width: 767px) {
  .subscribe-wrapper {
    width: 350px;
  }
}
.subscribe__title {
  color: #fff;
  padding-top: 20px;
}
.subscribe__header {
  color: var(--color-yellow);
  font-size: 35px;
}
@media only screen and (max-width: 767px) {
  .subscribe__header {
    font-size: 25px;
  }
}
.subscribe__subtitle {
  font-family: "Open Sans";
  font-size: 12px;
  color: #fff;
}
.subscribe__email {
  display: flex;
  gap: 20px;
  align-items: center;
  padding-top: 20px;
}
.subscribe__email--input {
  width: 400px;
  height: 40px;
  background-color: var(--color-dark);
  border: 1px solid var(--color-primary);
  color: var(--color-primary);
  padding-left: 5px;
}
.subscribe__email--input::-moz-placeholder {
  color: var(--color-primary);
}
.subscribe__email--input::placeholder {
  color: var(--color-primary);
}
@media only screen and (max-width: 767px) {
  .subscribe__email--input {
    width: 200px;
  }
}
.subscribe__email--btn {
  width: 100px;
  height: 30px;
  border: none;
  outline: none;
  background-color: var(--color-yellow);
  cursor: pointer;
}/*# sourceMappingURL=contact.css.map */