@import "../../../global/global";

body.light .menu__list {
  color: var(--color-yellow) !important;
  p:hover {
    color: #fff !important; 
  }
}

.offer {
  position: relative;
  left: 0;
  width: 100%;
  height: 500px;
  background-image: url("../../../assets/services/background.jpg");
  background-size: cover;
  background-color: #0c0c0c;
  background-repeat: no-repeat;
  background-position: center;
  opacity: 0.9;
  @include mobile {
    width: 100%;
    height: 300px;
  }
  &-wrapper {
    position: absolute;
    top: 40%;
    flex-direction: column;
    display: flex;
    align-items: center;
    color: var(--color-yellow);
  }
  span{
    a{
    color: #fff;
  }
}
  h1{
    font-size: 70px;
    @include mobile{
      font-size: 40px;
    }
  }
}

.quality {
  background-color: var(--color-dark);
  color: var(--color-primary);
  height: 400px;
  @include mobile {
    height: 400px;
  }
  &-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    transform: translate(0%, 40%);
    gap: 20px;
    @include mobile {
      align-items: center;
      text-align: center;
    }
  }
  &__title {
    color: var(--color-yellow);
    font-size: 40px;
    @include mobile {
      font-size: 30px;
    }
  }
  &__desc {
    font-family: "Open Sans";
    @include mobile {
      font-size: 12px;
    }
  }
  &__btn {
    align-items: center;
    button {
      width: 100px;
      height: 30px;
      cursor: pointer;
    }
    &--first {
      background-color: var(--color-yellow);
      outline: none;
      border: none;
    }
    &--second {
      background-color: transparent;
      border: 1px solid var(--color-primary);
      color: var(--color-primary);
    }
  }
}

.menu {
  background: url("../../../assets/home/coniac.png");
  background-color: var(--color-dark);
  opacity: 0.3;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 500px;
  background-color: var(--color-dark);
  opacity: 0.96;
  @include mobile {
    height: 300px;
  }
  &__list {
    color: var(--color-primary);
    position: relative;
    top: 100px;
    font-size: 40px;
    gap: 30px;
    display: flex;
    flex-direction: column;
    padding-left: 10px;
    @include mobile {
      font-size: 30px;
    }
    &--item {
      cursor: pointer;
      &:hover {
        text-decoration: underline;
        color: var(--color-primary);
      }
    }
  }
}

.booking {
  background-color: var(--color-dark);
  width: 100%;
  padding: 40px;
  display: flex;
  align-items: center;
  &-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 70px;
    width: 900px;
    box-shadow: 1rem 1rem 3rem 0rem;
    background-color: #262523;
    padding: 20px;
    @include tablet {
      width: 500px;
    }
    @include mobile {
      width: 290px;
    }
  }
  &__title {
    font-size: 64px;
    color: var(--color-yellow);
    @include mobile {
      font-size: 40px;
    }
  }
  &__options {
    display: flex;
    gap: 20px;
    @include tablet {
      flex-direction: column;
    }
    #persons {
      width: 240px;
      height: 40px;
      background-color: var(--color-dark);
      outline: none;
      border: none;
      color: var(--color-primary);
    }
  }

  &__btn {
    width: 100px;
    height: 30px;
    border: none;
    outline: none;
    background-color: var(--color-yellow);
    cursor: pointer;
  }
}

.hours {
  height: 450px;
  max-width: 100%;
  width: 100%;
  background-image: url("../../../assets/services/happyhours.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  @include mobile{
    height: 300px;
  }
  &-wrapper {
    position: relative;
  }
  .container {
    height: 500px;
  }
  &__header {
    display: flex;
    justify-content: center;
    font-size: 4rem;
    color: var(--color-yellow);
  }

  &__desc {
    display: flex;
    justify-content: center;
    color: var(--color-primary);
  }
}

.subscribe {
  background-color: var(--color-dark);
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 30px;
  padding: 75px 0;
  &-wrapper {
    background-color: #262523;
    height: 270px;
    width: 800px;
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    box-shadow: 0rem 1rem 3rem 0rem #000;
    @include tablet {
      width: 600px;
    }
    @include mobile {
      width: 350px;
    }
  }
  &__title {
    color: #fff;
    padding-top: 20px;
  }
  &__header {
    color: var(--color-yellow);
    font-size: 35px;
    @include mobile {
      font-size: 25px;
    }
  }
  &__subtitle {
    font-family: "Open Sans";
    font-size: 12px;
    color: #fff;
  }
  &__email {
    display: flex;
    gap: 20px;
    align-items: center;
    padding-top: 20px;
    &--input {
      width: 400px;
      height: 40px;
      background-color: var(--color-dark);
      border: 1px solid var(--color-primary);
      color: var(--color-primary);
      padding-left: 5px;
      &::placeholder {
        color: var(--color-primary);
      }
      @include mobile {
        width: 200px;
      }
    }
    &--btn {
      width: 100px;
      height: 30px;
      border: none;
      outline: none;
      background-color: var(--color-yellow);
      cursor: pointer;
    }
  }
}
