@import url("https://fonts.googleapis.com/css2?family=Cormorant+Upright:wght@700&family=Poppins:wght@200;300;400;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap");
:root {
  --color-primary: #fff;
  --color-dark: #000;
  --color-yellow: #dcca87;
}

* {
  transition: background-color 0.3s linear;
}

body.light {
  --color-primary: #000;
  --color-dark: #fff;
  --color-yellow: #dcca87;
}

.container {
  max-width: 1350px;
  margin: 0 auto;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  font-family: "Cormorant Upright";
}

::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  background: var(--color-dark);
}

::-webkit-scrollbar-thumb {
  background: var(--color-yellow);
  border-radius: 5px;
  cursor: pointer;
}

.header {
  width: 100%;
  height: 70px;
  background-color: var(--color-dark);
  color: var(--color-primary);
  position: fixed;
  z-index: 3;
}
.header .hamburger {
  font-size: 25px;
  display: none;
}
@media only screen and (max-width: 767px) {
  .header .hamburger {
    display: block;
    position: relative;
    top: -8px;
    cursor: pointer;
  }
}
.header .cancel {
  position: relative;
  z-index: 999;
  top: -86px;
  font-size: 22px;
  display: none;
}
.header-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
  width: 100%;
}
.header__logo {
  font-size: 34px;
  font-family: "Cormorant";
  text-transform: uppercase;
  position: relative;
}
.header__menu {
  display: flex;
  gap: 25px;
  align-items: center;
}
@media only screen and (max-width: 767px) {
  .header__menu {
    flex-direction: column;
    width: 100%;
    background-color: var(--color-yellow);
    border-radius: 5px;
    height: 100vh;
    position: absolute;
    top: -15px;
    transition: 0.5s;
    gap: 25px;
    padding-top: 5px;
    right: -100%;
    top: 0;
    padding-left: 10px;
    align-items: center;
    justify-content: center;
  }
  .header__menu.active {
    right: 0;
  }
}
.header__menu a {
  color: var(--color-primary);
  font-size: 16px;
  text-decoration: none !important;
}
@media only screen and (max-width: 767px) {
  .header__menu a {
    font-size: 36px;
  }
}
.header__menu a:hover {
  text-decoration: underline;
}
@media only screen and (max-width: 767px) {
  .header__menu .login {
    font-size: 30px;
  }
}
.header__menu .mode-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  border-radius: 10px;
  height: 40px;
  border: none;
  outline: none;
  font-size: 20px;
}

.footer {
  position: relative;
  bottom: 0;
  padding-top: 70px;
  background-color: var(--color-dark);
  height: 300px;
}
@media only screen and (max-width: 767px) {
  .footer {
    height: 590px;
  }
}
.footer__item {
  display: flex;
  gap: 56px;
  justify-content: center;
  align-items: center;
  gap: 30px;
  color: var(--color-primary);
}
@media only screen and (max-width: 767px) {
  .footer__item {
    flex-direction: column;
  }
}
@media only screen and (max-width: 991px) {
  .footer__item {
    gap: 35px;
  }
}
.footer__item--contact {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.footer__item--contact--title {
  justify-content: center;
  display: flex;
}
.footer__item--contact--country {
  font-family: "Open Sans";
  font-size: 12px;
}
.footer__item--contact--mobile {
  font-family: "Open Sans";
  font-size: 12px;
}
.footer__item--logo {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}
.footer__item--logo--name {
  text-transform: uppercase;
  font-size: 40px;
  color: var(--color-yellow);
}
.footer__item--logo--desc {
  font-family: "Open Sans";
  font-size: 12px;
  width: 300px;
  text-align: center;
}
.footer__item--logo--social {
  display: flex;
  gap: 10px;
  cursor: pointer;
}
.footer__item--working {
  gap: 15px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.footer__item--working--title {
  justify-content: center;
  display: flex;
}
.footer__item--working--hours {
  display: flex;
  width: 220px;
  font-family: "Open Sans";
  font-size: 12px;
}

.loader--content {
  position: fixed;
  background-color: var(--color-dark);
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9;
  transition: 0.3s;
}
.loader--content.fade {
  opacity: 0;
}

.loader {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.tall-stack {
  animation: slide-plate-out 3500ms;
  animation-fill-mode: forwards;
  animation-timing-function: ease;
}

.plate {
  width: 70px;
  height: 12px;
  background: #d3ebea;
  position: relative;
  border-radius: 6px 6px 2rem 2rem;
  animation: slide-plate-in 3500ms;
  transform: translateX(100vw);
  animation-fill-mode: forwards;
  animation-timing-function: ease;
}
.plate .plate-bottom {
  content: "";
  display: block;
  height: 50%;
  width: 80px;
  background: #c5e5e3;
  position: absolute;
  top: 100%;
  left: 93%;
  margin-left: -70px;
  border-radius: 0 0 1rem 1rem;
  z-index: 1;
}

.butter {
  width: 28px;
  height: 5px;
  background: #eadd4d;
  margin: auto;
  border-radius: 2px;
  box-shadow: inset 0 -2px 0 2px rgba(85, 74, 35, 0.1);
}

.pancake {
  width: 50px;
  height: 8px;
  background: #d8cb9f;
  border-radius: 1rem;
  box-shadow: inset 0 -2px 0 3px rgba(85, 74, 35, 0.1);
  margin: auto;
}

.falling-element {
  transform: translateY(-100vh);
  animation-timing-function: ease-in;
  animation-fill-mode: forward;
  animation: element-drop 3500ms infinite;
  position: relative;
}

.falling-element:nth-child(8) {
  animation-delay: 0.4s;
}

.falling-element:nth-child(7) {
  animation-delay: 0.62s;
}

.falling-element:nth-child(6) {
  animation-delay: 0.84s;
}

.falling-element:nth-child(5) {
  animation-delay: 1.06s;
}

.falling-element:nth-child(4) {
  animation-delay: 1.28s;
}

.falling-element:nth-child(3) {
  animation-delay: 1.5s;
}

.falling-element:nth-child(2) {
  animation-delay: 1.72s;
}

.falling-element:nth-child(1) {
  animation-delay: 1.94s;
}

@keyframes element-drop {
  0%, 100% {
    transform: translateY(-100vh) scaleY(0.7);
    opacity: 1;
  }
  11% {
    transform: translateY(20%) scaleY(1.2);
  }
  13% {
    transform: translateY(-30%) scaleY(0.9);
  }
  14%, 67% {
    transform: translateY(0%) scaleY(1);
    opacity: 1;
  }
  68% {
    opacity: 0;
    transition: none;
    transform: translateY(-100vh) scaleY(0.7);
  }
}
@keyframes slide-plate-in {
  0% {
    transform: translateX(100vw);
  }
  15%, 100% {
    transform: translateX(0);
  }
}
@keyframes slide-plate-out {
  65% {
    transform: translateX(0);
  }
  85%, 100% {
    transform: translateX(-100vw);
  }
}
body.light .menu__list {
  color: var(--color-yellow) !important;
}
body.light .menu__list p:hover {
  color: #fff !important;
}

.offer {
  position: relative;
  left: 0;
  width: 100%;
  height: 500px;
  background-image: url("../../../assets/services/background.jpg");
  background-size: cover;
  background-color: #0c0c0c;
  background-repeat: no-repeat;
  background-position: center;
  opacity: 0.9;
}
@media only screen and (max-width: 767px) {
  .offer {
    width: 100%;
    height: 300px;
  }
}
@media only screen and (max-width: 991px) {
  .offer {
    height: 400px;
  }
}
.offer-wrapper {
  flex-direction: column;
  display: flex;
  align-items: center;
  color: var(--color-yellow);
  width: 40%;
  margin: 0 auto;
  padding: 200px 0;
}
@media only screen and (max-width: 767px) {
  .offer-wrapper {
    width: 65%;
  }
}
.offer span a {
  color: #fff;
}
.offer h1 {
  font-size: 70px;
}
@media only screen and (max-width: 767px) {
  .offer h1 {
    font-size: 34px !important;
  }
}
@media only screen and (max-width: 991px) {
  .offer h1 {
    font-size: 55px;
  }
}

.quality {
  background-color: var(--color-dark);
  color: var(--color-primary);
  height: 400px;
}
@media only screen and (max-width: 767px) {
  .quality {
    height: 400px;
  }
}
.quality-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  transform: translate(0%, 40%);
  gap: 20px;
}
@media only screen and (max-width: 767px) {
  .quality-wrapper {
    align-items: center;
    text-align: center;
  }
}
.quality__title {
  color: var(--color-yellow);
  font-size: 40px;
}
@media only screen and (max-width: 767px) {
  .quality__title {
    font-size: 30px;
  }
}
.quality__desc {
  font-family: "Open Sans";
}
@media only screen and (max-width: 767px) {
  .quality__desc {
    font-size: 12px;
  }
}
.quality__btn {
  align-items: center;
}
.quality__btn button {
  width: 100px;
  height: 30px;
  cursor: pointer;
}
.quality__btn--first {
  background-color: var(--color-yellow);
  outline: none;
  border: none;
}
.quality__btn--second {
  background-color: transparent;
  border: 1px solid var(--color-primary);
  color: var(--color-primary);
}

.menu {
  background: url("../../../assets/home/coniac.png");
  background-color: var(--color-dark);
  opacity: 0.3;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 500px;
  background-color: var(--color-dark);
  opacity: 0.96;
}
@media only screen and (max-width: 767px) {
  .menu {
    height: 300px;
  }
}
.menu__list {
  color: var(--color-primary);
  position: relative;
  top: 100px;
  font-size: 40px;
  gap: 30px;
  display: flex;
  flex-direction: column;
  padding-left: 10px;
}
@media only screen and (max-width: 767px) {
  .menu__list {
    font-size: 30px;
  }
}
.menu__list--item {
  cursor: pointer;
}
.menu__list--item:hover {
  text-decoration: underline;
  color: var(--color-primary);
}

.booking {
  background-color: var(--color-dark);
  width: 100%;
  padding: 40px;
  display: flex;
  align-items: center;
}
.booking-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 70px;
  width: 900px;
  box-shadow: 1rem 1rem 3rem 0rem;
  background-color: #262523;
  padding: 20px;
}
@media only screen and (max-width: 991px) {
  .booking-wrapper {
    width: 500px;
  }
}
@media only screen and (max-width: 767px) {
  .booking-wrapper {
    width: 290px;
  }
}
.booking__title {
  font-size: 64px;
  color: var(--color-yellow);
}
@media only screen and (max-width: 767px) {
  .booking__title {
    font-size: 40px;
  }
}
.booking__options {
  display: flex;
  gap: 20px;
}
@media only screen and (max-width: 991px) {
  .booking__options {
    flex-direction: column;
  }
}
.booking__options #persons {
  width: 240px;
  height: 40px;
  background-color: var(--color-dark);
  outline: none;
  border: none;
  color: var(--color-primary);
}
.booking__btn {
  width: 100px;
  height: 30px;
  border: none;
  outline: none;
  background-color: var(--color-yellow);
  cursor: pointer;
}

.hours {
  height: 450px;
  max-width: 100%;
  width: 100%;
  background-image: url("../../../assets/services/happyhours.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
@media only screen and (max-width: 767px) {
  .hours {
    height: 300px;
  }
}
.hours-wrapper {
  position: relative;
}
.hours .container {
  height: 500px;
}
.hours__header {
  display: flex;
  justify-content: center;
  font-size: 4rem;
  color: var(--color-yellow);
}
.hours__desc {
  display: flex;
  justify-content: center;
  color: var(--color-primary);
}

.subscribe {
  background-color: var(--color-dark);
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 30px;
  padding: 75px 0;
}
.subscribe-wrapper {
  background-color: #262523;
  height: 270px;
  width: 800px;
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  box-shadow: 0rem 1rem 3rem 0rem #000;
}
@media only screen and (max-width: 991px) {
  .subscribe-wrapper {
    width: 600px;
  }
}
@media only screen and (max-width: 767px) {
  .subscribe-wrapper {
    width: 350px;
  }
}
.subscribe__title {
  color: #fff;
  padding-top: 20px;
}
.subscribe__header {
  color: var(--color-yellow);
  font-size: 35px;
}
@media only screen and (max-width: 767px) {
  .subscribe__header {
    font-size: 25px;
  }
}
.subscribe__subtitle {
  font-family: "Open Sans";
  font-size: 12px;
  color: #fff;
}
.subscribe__email {
  display: flex;
  gap: 20px;
  align-items: center;
  padding-top: 20px;
}
.subscribe__email--input {
  width: 400px;
  height: 40px;
  background-color: var(--color-dark);
  border: 1px solid var(--color-primary);
  color: var(--color-primary);
  padding-left: 5px;
}
.subscribe__email--input::-moz-placeholder {
  color: var(--color-primary);
}
.subscribe__email--input::placeholder {
  color: var(--color-primary);
}
@media only screen and (max-width: 767px) {
  .subscribe__email--input {
    width: 200px;
  }
}
.subscribe__email--btn {
  width: 100px;
  height: 30px;
  border: none;
  outline: none;
  background-color: var(--color-yellow);
  cursor: pointer;
}/*# sourceMappingURL=service.css.map */