@import url("https://fonts.googleapis.com/css2?family=Cormorant+Upright:wght@700&family=Poppins:wght@200;300;400;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap");
.container {
  max-width: 1350px;
  margin: 0 auto;
  background-color: var(--color-primary);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  font-family: "Cormorant Upright";
}

::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  background: #000000;
}

::-webkit-scrollbar-thumb {
  background: #dcca87;
  border-radius: 5px;
  cursor: pointer;
}

.header {
  width: 100%;
  height: 70px;
  background-color: #000;
  color: #fff;
  position: fixed;
  z-index: 3;
}
.header .hamburger {
  font-size: 25px;
  display: none;
}
@media only screen and (max-width: 767px) {
  .header .hamburger {
    display: block;
    top: -75px;
    position: relative;
  }
}
.header .cancel {
  display: none;
  z-index: 999;
  top: 300px;
}
.header-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
  width: 100%;
}
.header__logo {
  font-size: 34px;
  font-family: "Cormorant";
  text-transform: uppercase;
  position: relative;
}
@media only screen and (max-width: 767px) {
  .header__logo {
    top: -68px;
  }
}
.header__menu {
  display: flex;
  gap: 25px;
}
@media only screen and (max-width: 767px) {
  .header__menu {
    flex-direction: column;
    width: 247px;
    background-color: #dcc087;
    border-radius: 5px;
    height: 182px;
    position: relative;
    top: -15px;
    transition: 0.5s;
    gap: 25px;
    padding-top: 5px;
    padding-left: 10px;
    transform: translateX(200%);
  }
  .header__menu.active {
    transform: translateX(81%);
  }
}
.header__menu a {
  color: #fff;
  font-size: 16px;
  text-decoration: none !important;
}
.header__menu a:hover {
  text-decoration: underline;
}

.footer {
  position: relative;
  bottom: 0;
  padding-top: 70px;
  background-color: #000000;
  height: 300px;
}
@media only screen and (max-width: 767px) {
  .footer {
    height: 580px;
  }
}
.footer__item {
  display: flex;
  gap: 56px;
  justify-content: center;
  align-items: center;
  gap: 30px;
  color: #fff;
}
@media only screen and (max-width: 767px) {
  .footer__item {
    flex-direction: column;
  }
}
@media only screen and (max-width: 991px) {
  .footer__item {
    gap: 35px;
  }
}
.footer__item--contact {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.footer__item--contact--title {
  justify-content: center;
  display: flex;
}
.footer__item--contact--country {
  font-family: "Open Sans";
  font-size: 12px;
}
.footer__item--contact--mobile {
  font-family: "Open Sans";
  font-size: 12px;
}
.footer__item--logo {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}
.footer__item--logo--name {
  text-transform: uppercase;
  font-size: 40px;
  color: #dcca87;
}
.footer__item--logo--desc {
  font-family: "Open Sans";
  font-size: 12px;
  width: 300px;
  text-align: center;
}
.footer__item--logo--social {
  display: flex;
  gap: 10px;
  cursor: pointer;
}
.footer__item--working {
  gap: 15px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.footer__item--working--title {
  justify-content: center;
  display: flex;
}
.footer__item--working--hours {
  display: flex;
  width: 220px;
  font-family: "Open Sans";
  font-size: 12px;
}

.flavour {
  padding: 70px;
  width: 100%;
  background-color: #000;
}
.flavour-wrapper {
  display: flex;
  justify-content: center;
}
@media only screen and (max-width: 767px) {
  .flavour-wrapper {
    flex-direction: column;
    margin: 0 auto;
  }
}
.flavour__text {
  display: flex;
  flex-direction: column;
  padding: 40px;
  gap: 70px;
  line-height: 30px;
}
@media only screen and (max-width: 991px) {
  .flavour__text {
    width: 365px;
    gap: 30px;
  }
}
@media only screen and (max-width: 767px) {
  .flavour__text {
    gap: 20px;
    margin: auto;
    width: 300px;
    display: flex;
  }
}
.flavour__text--title {
  font-size: 20px;
  color: #fff;
}
.flavour__text--header {
  width: 300px;
  font-size: 55px;
  color: #dcca87;
  line-height: 70px;
}
@media only screen and (max-width: 991px) {
  .flavour__text--header {
    width: 280px;
    font-size: 45px;
  }
}
@media only screen and (max-width: 767px) {
  .flavour__text--header {
    width: 200px;
    font-size: 30px;
    line-height: 35px;
  }
}
.flavour__text--desc {
  color: #fff;
  font-family: "open sans";
  width: 450px;
  font-size: 14px;
}
@media only screen and (max-width: 991px) {
  .flavour__text--desc {
    width: 300px;
  }
}
@media only screen and (max-width: 767px) {
  .flavour__text--desc {
    width: 200px;
  }
}
.flavour__text--btn {
  width: 100px;
  height: 30px;
  border: none;
  outline: none;
  background-color: #dcca87;
  cursor: pointer;
}
@media only screen and (max-width: 767px) {
  .flavour__image {
    margin: auto;
    width: 300px;
    display: flex;
  }
}
.flavour__image img {
  width: 450px;
  height: 550px;
  padding: 40px;
}
@media only screen and (max-width: 991px) {
  .flavour__image img {
    width: 400px;
    height: 500px;
    margin: auto;
    padding-top: 10px;
  }
}
@media only screen and (max-width: 767px) {
  .flavour__image img {
    width: 300px;
    height: 350px;
    margin: auto;
    padding-top: 10px;
  }
}

.knife {
  width: 100%;
  background-color: #000;
}
.knife-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 70px;
}
@media only screen and (max-width: 767px) {
  .knife-wrapper {
    flex-direction: column;
  }
}
.knife__about {
  width: 360px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 30px;
}
@media only screen and (max-width: 991px) {
  .knife__about {
    width: 250px;
  }
}
.knife__about--title {
  color: #dcca87;
  font-size: 40px;
}
.knife__about--desc {
  color: #fff;
  font-family: "Open Sans";
  font-size: 14px;
  line-height: 33px;
  width: 360px;
  text-align: end;
  position: relative;
  z-index: 2;
}
@media only screen and (max-width: 991px) {
  .knife__about--desc {
    width: 250px;
  }
}
.knife__about--btn {
  width: 100px;
  height: 30px;
  border: none;
  outline: none;
  background-color: #dcca87;
  cursor: pointer;
}
.knife__image {
  height: 605px;
}
.knife__image img {
  height: 605px;
  z-index: 2;
  position: relative;
}
.knife__background {
  font-size: 400px;
  color: #272727;
  opacity: 0.8;
  position: absolute;
}
.knife__history {
  width: 360px;
  display: flex;
  flex-direction: column;
  gap: 30px;
  align-items: flex-start;
  animation: text 4s;
  animation-direction: normal;
  z-index: 2;
}
@media only screen and (max-width: 991px) {
  .knife__history {
    width: 250px;
  }
}
.knife__history--title {
  color: #dcca87;
  font-size: 40px;
}
.knife__history--desc {
  color: #fff;
  font-family: "Open Sans";
  font-size: 14px;
  line-height: 33px;
  width: 360px;
  position: relative;
  z-index: 2;
}
@media only screen and (max-width: 991px) {
  .knife__history--desc {
    width: 250px;
  }
}
.knife__history--btn {
  width: 100px;
  height: 30px;
  border: none;
  outline: none;
  background-color: #dcca87;
  position: relative;
  z-index: 2;
  cursor: pointer;
}

.special {
  background-color: #000;
  height: 800px;
}
@media only screen and (max-width: 767px) {
  .special {
    height: 1250px !important;
    padding-top: 20px;
  }
}
@media only screen and (max-width: 991px) {
  .special {
    height: 850px;
  }
}
.special-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.special__title {
  display: flex;
  justify-content: center;
  padding: 30px;
  color: #fff;
}
.special__header {
  display: flex;
  justify-content: center;
  padding: 10px;
  font-size: 40px;
  color: #dcca87;
}
.special__main {
  display: flex;
  justify-content: center;
  gap: 100px;
  padding: 40px;
}
@media only screen and (max-width: 991px) {
  .special__main {
    gap: 40px;
  }
}
@media only screen and (max-width: 767px) {
  .special__main {
    gap: 10px;
  }
}
@media only screen and (max-width: 767px) {
  .special__main {
    flex-direction: column;
  }
}
.special__left {
  color: #fff;
  display: flex;
  flex-direction: column;
  gap: 24px;
}
@media only screen and (max-width: 767px) {
  .special__left {
    text-align: center;
    gap: 10px;
  }
}
.special__left--title {
  font-size: 30px;
}
.special__left--menu {
  font-size: 20px;
  color: #dcca87;
}
@media only screen and (max-width: 991px) {
  .special__left--menu {
    font-size: 18px;
  }
}
.special__img {
  height: 390px;
}
@media only screen and (max-width: 767px) {
  .special__img {
    height: 300px;
  }
}
.special__right {
  color: #fff;
  display: flex;
  flex-direction: column;
  gap: 24px;
}
@media only screen and (max-width: 767px) {
  .special__right {
    text-align: center;
    gap: 10px;
  }
}
.special__right--title {
  font-size: 30px;
}
.special__right--menu {
  font-size: 20px;
  color: #dcca87;
}
@media only screen and (max-width: 991px) {
  .special__right--menu {
    font-size: 18px;
  }
}
.special__btn {
  width: 100px;
  height: 30px;
  border: none;
  outline: none;
  background-color: #dcca87;
  cursor: pointer;
}

.chef {
  background-color: #000;
  padding: 40px;
}
@media only screen and (max-width: 767px) {
  .chef {
    height: 1140px;
  }
}
.chef-wrapper {
  display: flex;
  padding: 40px;
  gap: 40px;
  justify-content: center;
  align-items: center;
}
@media only screen and (max-width: 991px) {
  .chef-wrapper {
    gap: 0;
  }
}
@media only screen and (max-width: 767px) {
  .chef-wrapper {
    flex-direction: column;
  }
}
.chef__img {
  height: 500px;
}
.chef__img img {
  height: 100%;
  width: 350px;
}
@media only screen and (max-width: 767px) {
  .chef__img img {
    width: 320px;
  }
}
@media only screen and (max-width: 991px) {
  .chef__img img {
    width: 320px;
  }
}
.chef__text {
  padding: 40px;
  display: flex;
  flex-direction: column;
  gap: 30px;
}
@media only screen and (max-width: 991px) {
  .chef__text {
    width: 375px;
  }
}
@media only screen and (max-width: 767px) {
  .chef__text {
    text-align: center;
    width: 330px;
    gap: 10px;
  }
}
.chef__text--title {
  color: #fff;
}
.chef__text--header {
  color: #dcca87;
  font-size: 40px;
}
@media only screen and (max-width: 767px) {
  .chef__text--header {
    font-size: 25px;
  }
}
.chef__text--name {
  font-size: 25px;
  color: #dcca87;
}
.chef__text--desc {
  width: 500px;
  color: #fff;
}
@media only screen and (max-width: 991px) {
  .chef__text--desc {
    width: 350px;
  }
}
@media only screen and (max-width: 767px) {
  .chef__text--desc {
    width: 100%;
  }
}
.chef__text--position {
  font-family: "Open sans";
  color: #fff;
  font-size: 12px;
}
.chef__text--image {
  width: 200px;
}

.customer {
  background-color: #000;
}
.customer-wrapper {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
@media only screen and (max-width: 767px) {
  .customer-wrapper {
    gap: 0px;
  }
}
.customer__title {
  display: flex;
  justify-content: center;
  padding: 5px;
  color: #fff;
}
.customer__header {
  display: flex;
  justify-content: center;
  padding: 20px;
  font-size: 50px;
  color: #dcca87;
}
@media only screen and (max-width: 767px) {
  .customer__header {
    text-align: center;
    font-size: 40px;
  }
}
@media only screen and (max-width: 991px) {
  .customer__img {
    width: 160px;
    height: 160px;
  }
}
@media only screen and (max-width: 767px) {
  .customer__img {
    width: 130px;
    height: 130px;
  }
}
.customer__table {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-content: center;
  align-items: center;
  gap: 60px;
  padding: 30px;
}
@media only screen and (max-width: 991px) {
  .customer__table {
    grid-template-columns: repeat(1, 1fr);
  }
}
.customer__table--about {
  display: flex;
  gap: 20px;
}
.customer__table--about--text {
  display: flex;
  flex-direction: column;
  gap: 15px;
  color: #fff;
}
@media only screen and (max-width: 767px) {
  .customer__table--about--text {
    gap: 3px;
  }
}
.customer__table--desc {
  color: #fff;
  font-family: "Open Sans";
  font-style: italic;
  line-height: 28px;
  font-size: 12px;
}
.customer__table--name {
  color: #dcca87;
  font-size: 32px;
}
@media only screen and (max-width: 767px) {
  .customer__table--name {
    font-size: 20px;
  }
}
.customer__table--position {
  font-family: "Open Sans";
  color: #fff;
}
@media only screen and (max-width: 767px) {
  .customer__table--position {
    font-size: 12px;
  }
}

.restaurant {
  background-image: url("../../../assets/home/restaurant.png");
  height: 600px;
  background-repeat: no-repeat;
  -o-object-fit: cover;
     object-fit: cover;
  background-size: cover;
  opacity: 0.9;
}
@media only screen and (max-width: 991px) {
  .restaurant {
    height: 330px;
  }
}
@media only screen and (max-width: 767px) {
  .restaurant {
    height: 280px;
  }
}

.awards {
  background-color: #000;
  height: 490px;
}
@media only screen and (max-width: 767px) {
  .awards {
    height: 790px;
  }
}
.awards-wrapper {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
@media only screen and (max-width: 767px) {
  .awards-wrapper {
    flex-direction: column;
  }
}
.awards__text {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
@media only screen and (max-width: 991px) {
  .awards__text {
    padding: 5px;
  }
}
@media only screen and (max-width: 767px) {
  .awards__text {
    text-align: center;
  }
}
.awards__text--title {
  color: #fff;
  padding-top: 40px;
}
.awards__text--header {
  color: #dcca87;
  font-size: 35px;
}
.awards__text__stars {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}
.awards__text__stars--item {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.awards__text__stars--item--title {
  color: #dcca87;
}
.awards__text__stars--item--desc {
  color: #fff;
  font-family: "Open Sans";
  width: 200px;
  font-size: 12px;
}
.awards .awards__design {
  position: absolute;
  opacity: 0.7;
  color: #fff;
  font-size: 286px;
  position: absolute;
  left: -80px;
  bottom: -20px;
  line-height: 220px;
}
@media only screen and (max-width: 991px) {
  .awards .awards__design {
    font-size: 200px;
    left: -50px;
  }
}
@media only screen and (max-width: 767px) {
  .awards .awards__design {
    left: -20px;
  }
}
.awards .div {
  width: 350px;
  height: 450px;
  padding-top: 66px;
  position: relative;
}
.awards .div img {
  width: 100%;
  height: 100%;
}
@media only screen and (max-width: 991px) {
  .awards .div img {
    width: 300px;
  }
}
@media only screen and (max-width: 767px) {
  .awards .div img {
    display: flex;
    margin: auto;
  }
}

.update {
  background-color: #000;
  padding-top: 30px;
}
.update-wrapper {
  display: flex;
  gap: 30px;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  padding-bottom: 30px;
}
.update__title {
  color: #fff;
}
.update__header {
  color: #dcca87;
  font-size: 35px;
}
.update__table {
  display: flex;
  gap: 25px;
}
@media only screen and (max-width: 767px) {
  .update__table {
    flex-direction: column;
  }
}
@media only screen and (max-width: 991px) {
  .update__table {
    gap: 15px;
  }
}
.update__table--item {
  width: 300px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
@media only screen and (max-width: 991px) {
  .update__table--item {
    width: 240px;
  }
}
@media only screen and (max-width: 767px) {
  .update__table--item {
    text-align: center;
  }
}
.update__table--item--img {
  width: 280px;
}
@media only screen and (max-width: 991px) {
  .update__table--item--img {
    width: 240px;
  }
}
.update__table--item--title {
  color: #dcca87;
  font-size: 25px;
}
.update__table--item--desc {
  font-family: "open sans";
  color: #fff;
  font-size: 14px;
}
.update__table--item--more {
  color: #dcca87;
}
.update__table--btn {
  width: 100px;
  height: 30px;
  border: none;
  outline: none;
  background-color: #dcca87;
  cursor: pointer;
}

.gallery {
  height: 300px;
  background-color: #000;
}
@media only screen and (max-width: 991px) {
  .gallery {
    height: 400px;
  }
}
@media only screen and (max-width: 767px) {
  .gallery {
    height: 720px;
  }
}
.gallery-wrapper {
  display: flex;
  justify-content: center;
  gap: 100px;
  align-items: center;
  width: 100%;
  height: 100%;
}
@media only screen and (max-width: 991px) {
  .gallery-wrapper {
    gap: 50px;
  }
}
@media only screen and (max-width: 767px) {
  .gallery-wrapper {
    flex-direction: column;
  }
}
.gallery__text {
  width: 30%;
  padding-top: 40px;
  display: flex;
  flex-direction: column;
  gap: 30px;
  align-items: flex-start;
}
@media only screen and (max-width: 767px) {
  .gallery__text {
    width: 70%;
  }
}
.gallery__text--title {
  color: #fff;
}
.gallery__text--header {
  color: #dcca87;
  font-size: 40px;
}
.gallery__text--desc {
  font-family: "Open sans";
  font-size: 12px;
  color: #fff;
}
.gallery__text--btn {
  width: 100px;
  height: 30px;
  border: none;
  outline: none;
  background-color: #dcca87;
  cursor: pointer;
}
.gallery__img {
  display: flex;
  height: 250px;
  width: 600px;
  overflow: hidden;
  position: relative;
}
@media only screen and (max-width: 767px) {
  .gallery__img img {
    height: 250px;
  }
}
@media only screen and (max-width: 991px) {
  .gallery__img {
    width: 500px;
  }
}
@media only screen and (max-width: 767px) {
  .gallery__img {
    width: 300px;
  }
}/*# sourceMappingURL=home.css.map */