@import "../../../global/global";

.flavour {
  padding: 70px;
  width: 100%;
  background-color: #000;
  &-wrapper {
    display: flex;
    justify-content: center;
    @include mobile {
      flex-direction: column;
      margin: 0 auto;
    }
  }
  &__text {
    display: flex;
    flex-direction: column;
    padding: 40px;
    gap: 70px;
    line-height: 30px;
    @include tablet {
      width: 365px;
      gap: 30px;
    }
    @include mobile {
      gap: 20px;
      margin: auto;
      width: 300px;
      display: flex;
    }
    &--title {
      font-size: 20px;
      color: #fff;
    }
    &--header {
      width: 300px;
      font-size: 55px;
      color: #dcca87;
      line-height: 70px;
      @include tablet {
        width: 280px;
        font-size: 45px;
      }
      @include mobile {
        width: 200px;
        font-size: 30px;
        line-height: 35px;
      }
    }
    &--desc {
      color: #fff;
      font-family: "open sans";
      width: 450px;
      font-size: 14px;
      @include tablet {
        width: 300px;
      }
      @include mobile {
        width: 200px;
      }
    }
    &--btn {
      width: 100px;
      height: 30px;
      border: none;
      outline: none;
      background-color: #dcca87;
      cursor: pointer;
    }
  }
  &__image {
    @include mobile {
      margin: auto;
      width: 300px;
      display: flex;
    }
    img {
      width: 450px;
      height: 550px;
      padding: 40px;
      @include tablet {
        width: 400px;
        height: 500px;
        margin: auto;
        padding-top: 10px;
      }
      @include mobile {
        width: 300px;
        height: 350px;
        margin: auto;
        padding-top: 10px;
      }
    }
  }
}

.knife {
  width: 100%;
  background-color: #000;
  &-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 70px;
    @include mobile {
      flex-direction: column;
    }
  }
  &__about {
    width: 360px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 30px;
    // animation: about 4s;
    // animation-direction: normal;
    @include tablet {
      width: 250px;
    }
    &--title {
      color: #dcca87;
      font-size: 40px;
    }
    &--desc {
      color: #fff;
      font-family: "Open Sans";
      font-size: 14px;
      line-height: 33px;
      width: 360px;
      text-align: end;
      position: relative;
      z-index: 2;
      @include tablet {
        width: 250px;
      }
    }
    &--btn {
      width: 100px;
      height: 30px;
      border: none;
      outline: none;
      background-color: #dcca87;
      cursor: pointer;
    }
  }

  &__image {
    height: 605px;
    img {
      height: 605px;
      z-index: 2;
      position: relative;
    }
  }

  &__background {
    font-size: 400px;
    color: #272727;
    opacity: 0.8;
    position: absolute;
  }
  &__history {
    width: 360px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    align-items: flex-start;
    animation: text 4s;
    animation-direction: normal;
    z-index: 2;
    @include tablet {
      width: 250px;
    }
    // @keyframes text {
    //   0% {
    //     transform: translateX(30%);
    //   }
    //   100% {
    //     transform: translateX(0);
    //   }
    // }
    &--title {
      color: #dcca87;
      font-size: 40px;
    }
    &--desc {
      color: #fff;
      font-family: "Open Sans";
      font-size: 14px;
      line-height: 33px;
      width: 360px;
      position: relative;
      z-index: 2;
      @include tablet {
        width: 250px;
      }
    }
    &--btn {
      width: 100px;
      height: 30px;
      border: none;
      outline: none;
      background-color: #dcca87;
      position: relative;
      z-index: 2;
      cursor: pointer;
    }
  }
}

.special {
  background-color: #000;
  height: 800px;
  @include mobile {
    height: 1250px !important;
    padding-top: 20px;
  }
  @include tablet{
    height: 850px;
  }
  &-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  &__title {
    display: flex;
    justify-content: center;
    padding: 30px;
    color: #fff;
  }
  &__header {
    display: flex;
    justify-content: center;
    padding: 10px;
    font-size: 40px;
    color: #dcca87;
  }
  &__main {
    display: flex;
    justify-content: center;
    gap: 100px;
    padding: 40px;
    @include tablet {
      gap: 40px;
    }
    @include mobile {
      gap: 10px;
    }
    @include mobile {
      flex-direction: column;
    }
  }
  &__left {
    color: #fff;
    display: flex;
    flex-direction: column;
    gap: 24px;
    @include mobile {
      text-align: center;
      gap: 10px;
    }
    &--title {
      font-size: 30px;
    }
    &--menu {
      font-size: 20px;
      color: #dcca87;
      @include tablet {
        font-size: 18px;
      }
    }
  }
  &__img {
    height: 390px;
    @include mobile {
      height: 300px;
    }
  }
  &__right {
    color: #fff;
    display: flex;
    flex-direction: column;
    gap: 24px;
    @include mobile {
      text-align: center;
      gap: 10px;
    }
    &--title {
      font-size: 30px;
    }
    &--menu {
      font-size: 20px;
      color: #dcca87;
      @include tablet {
        font-size: 18px;
      }
    }
  }
  &__btn {
    width: 100px;
    height: 30px;
    border: none;
    outline: none;
    background-color: #dcca87;
    cursor: pointer;
  }
}

.chef {
  background-color: #000;
  padding: 40px;
  @include mobile {
    height: 1140px;
  }
  &-wrapper {
    display: flex;
    padding: 40px;
    gap: 40px;
    justify-content: center;
    align-items: center;
    @include tablet {
      gap: 0;
    }
    @include mobile {
      flex-direction: column;
    }
  }
  &__img {
    height: 500px;

    img {
      height: 100%;
      width: 350px;
      @include mobile {
        width: 320px;
      }
      @include tablet {
        width: 320px;
      }
    }
  }

  &__text {
    padding: 40px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    @include tablet {
      width: 375px;
    }
    @include mobile {
      text-align: center;
      width: 330px;
      gap: 10px;
    }
    &--title {
      color: #fff;
    }
    &--header {
      color: #dcca87;
      font-size: 40px;
      @include mobile {
        font-size: 25px;
      }
    }
    &--name {
      font-size: 25px;
      color: #dcca87;
    }
    &--desc {
      width: 500px;
      color: #fff;
      @include tablet {
        width: 350px;
      }
      @include mobile {
        width: 100%;
      }
    }
    &--position {
      font-family: "Open sans";
      color: #fff;
      font-size: 12px;
    }
    &--image {
      width: 200px;
    }
  }
}

.customer {
  background-color: #000;
  &-wrapper {
    display: flex;
    flex-direction: column;
    gap: 20px;
    @include mobile{
      gap: 0px;
    }
  }
  &__title {
    display: flex;
    justify-content: center;
    padding: 5px;
    color: #fff;
  }
  &__header {
    display: flex;
    justify-content: center;
    padding: 20px;
    font-size: 50px;
    color: #dcca87;
    @include mobile {
      text-align: center;
      font-size: 40px;
    }
  }
  &__img {
    @include tablet {
      width: 160px;
      height: 160px;
    }
    @include mobile {
      width: 130px;
      height: 130px;
    }
  }

  &__table {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    align-items: center;
    gap: 60px;
    padding: 30px;
    @include tablet {
      grid-template-columns: repeat(1, 1fr);
    }
    &--about {
      display: flex;
      gap: 20px;
      &--text {
        display: flex;
        flex-direction: column;
        gap: 15px;
        color: #fff;
        @include mobile {
          gap: 3px;

        }
       
        }
      }
      &--desc {
        color: #fff;
        font-family: "Open Sans";
        font-style: italic;
        line-height: 28px;
        font-size: 12px;
      }

      &--name {
        color: #dcca87;
        font-size: 32px;
        @include mobile {
          font-size: 20px;
        }
      }
      &--position {
        font-family: "Open Sans";
        color: #fff;
        @include mobile {
          font-size: 12px;
        }
      }
    }
  }

.restaurant {
  background-image: url("../../../assets/home/restaurant.png");
  height: 600px;
  background-repeat: no-repeat;
  object-fit: cover;
  background-size: cover;
  opacity: 0.9;
  @include tablet {
    height: 330px;
  }
  @include mobile {
    height: 280px;
  }
}

.awards {
  background-color: #000;
  height: 490px;
  @include mobile {
    height: 790px;
  }
  &-wrapper {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    @include mobile {
      flex-direction: column;
    }
  }
  &__text {
    display: flex;
    flex-direction: column;
    gap: 30px;
    @include tablet {
      padding: 5px;
    }
    @include mobile {
      text-align: center;
    }
    &--title {
      color: #fff;
      padding-top: 40px;
    }
    &--header {
      color: #dcca87;
      font-size: 35px;
    }
    &__stars {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 20px;
      &--item {
        display: flex;
        flex-direction: column;
        gap: 10px;
        &--title {
          color: #dcca87;
        }
        &--desc {
          color: #fff;
          font-family: "Open Sans";
          width: 200px;
          font-size: 12px;
        }
      }
    }
  }
  .awards__design {
    position: absolute;
    opacity: 0.7;
    color: #fff;
    font-size: 286px;
    position: absolute;
    left: -80px;
    bottom: -20px;
    line-height: 220px;
    @include tablet {
      font-size: 200px;
      left: -50px;
    }
    @include mobile {
      left: -20px;
    }
  }
  .div {
    width: 350px;
    height: 450px;
    padding-top: 66px;
    position: relative;
    img {
      width: 100%;
      height: 100%;
      @include tablet {
        width: 300px;
      }
      @include mobile {
        display: flex;
        margin: auto;
      }
    }
  }
}

.update {
  background-color: #000;
  padding-top: 30px;
  &-wrapper {
    display: flex;
    gap: 30px;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    padding-bottom: 30px;
  }

  &__title {
    color: #fff;
  }
  &__header {
    color: #dcca87;
    font-size: 35px;
  }
  &__table {
    display: flex;
    gap: 25px;
    @include mobile {
      flex-direction: column;
    }
    @include tablet {
      gap: 15px;
    }
    &--item {
      width: 300px;
      display: flex;
      flex-direction: column;
      gap: 20px;
      @include tablet {
        width: 240px;
      }
      @include mobile {
        text-align: center;
      }
      &--img {
        width: 280px;
        @include tablet {
          width: 240px;
        }
      }
      &--title {
        color: #dcca87;
        font-size: 25px;
      }
      &--desc {
        font-family: "open sans";
        color: #fff;
        font-size: 14px;
      }
      &--more {
        color: #dcca87;
      }
    }
    &--btn {
      width: 100px;
      height: 30px;
      border: none;
      outline: none;
      background-color: #dcca87;
      cursor: pointer;
    }
  }
}

.gallery {
  height: 300px;
  background-color: #000;
  @include tablet {
    height: 400px;
  }
  @include mobile {
    height: 720px;
  }
  &-wrapper {
    display: flex;
    justify-content: center;
    gap: 100px;
    align-items: center;
    width: 100%;
    height: 100%;
    @include tablet {
      gap: 50px;
    }
    @include mobile {
      flex-direction: column;
    }
  }
  &__text {
    width: 30%;
    padding-top: 40px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    align-items: flex-start;
    @include mobile{
      width: 70%;
    }
    &--title {
      color: #fff;
    }
    &--header {
      color: #dcca87;
      font-size: 40px;
    }
    &--desc {
      font-family: "Open sans";
      font-size: 12px;
      color: #fff;
    }
    &--btn {
      width: 100px;
      height: 30px;
      border: none;
      outline: none;
      background-color: #dcca87;
      cursor: pointer;
    }
  }
  &__img {
    display: flex;
    height: 250px;
    width: 600px;
    overflow: hidden;
    position: relative;
    img{
      @include mobile{
        height: 250px;
      }
    }
    @include tablet {
      width: 500px;
    }
    @include mobile{
      width: 300px;
    }
  }
}
